USE [master]
GO
/****** Object:  Database [QuanLySanBong]    Script Date: 1/2/2026 10:06:24 AM ******/
CREATE DATABASE [QuanLySanBong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySanBong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSEVER\MSSQL\DATA\QuanLySanBong.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySanBong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSEVER\MSSQL\DATA\QuanLySanBong_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySanBong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySanBong]
GO
/****** Object:  Table [dbo].[CT_HoaDon_DichVu]    Script Date: 1/2/2026 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon_DichVu](
	[MaCT] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NOT NULL,
	[MaDV] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 1/2/2026 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [varchar](20) NOT NULL,
	[TenDV] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 0) NULL,
	[DonVi] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaSan]    Script Date: 1/2/2026 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaSan](
	[MaGia] [varchar](20) NOT NULL,
	[MaSan] [varchar](20) NOT NULL,
	[GioBD] [int] NULL,
	[GioKT] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[NgayTrongTuan] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 1/2/2026 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](20) NOT NULL,
	[MaLich] [varchar](20) NOT NULL,
	[TongTien] [decimal](18, 0) NULL,
	[ThoiGianThanhToan] [datetime] NULL,
	[HinhThucTT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/2/2026 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[SDT_KH] [varchar](20) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SDT_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichDat]    Script Date: 1/2/2026 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichDat](
	[MaLich] [varchar](20) NOT NULL,
	[MaSan] [varchar](20) NOT NULL,
	[SDT_KH] [varchar](20) NULL,
	[TenKH] [nvarchar](100) NULL,
	[NgayDat] [date] NULL,
	[GioBD] [int] NULL,
	[GioKT] [int] NULL,
	[DonGiaThucTe] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanBong]    Script Date: 1/2/2026 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBong](
	[MaSan] [varchar](20) NOT NULL,
	[TenSan] [nvarchar](100) NOT NULL,
	[LoaiSan] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/2/2026 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [nvarchar](50) NULL,
	[TenNguoiDung] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_HoaDon_DichVu] ([MaCT], [MaHD], [MaDV], [SoLuong], [ThanhTien]) VALUES (N'1', N'1', N'DV01', 2, CAST(20000 AS Decimal(18, 0)))
INSERT [dbo].[CT_HoaDon_DichVu] ([MaCT], [MaHD], [MaDV], [SoLuong], [ThanhTien]) VALUES (N'2', N'1', N'DV03', 1, CAST(20000 AS Decimal(18, 0)))
INSERT [dbo].[CT_HoaDon_DichVu] ([MaCT], [MaHD], [MaDV], [SoLuong], [ThanhTien]) VALUES (N'3', N'2', N'DV02', 3, CAST(45000 AS Decimal(18, 0)))
GO
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [DonVi]) VALUES (N'AO01', N'Áo Đội', CAST(10000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [DonVi]) VALUES (N'DV01', N'Nước suối', CAST(10000 AS Decimal(18, 0)), N'Chai')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [DonVi]) VALUES (N'DV02', N'Nước ngọt', CAST(15000 AS Decimal(18, 0)), N'Lon')
GO
INSERT [dbo].[GiaSan] ([MaGia], [MaSan], [GioBD], [GioKT], [DonGia], [NgayTrongTuan]) VALUES (N'1', N'San1', 17, 18, CAST(149000 AS Decimal(18, 0)), N'Ngay Thuong')
INSERT [dbo].[GiaSan] ([MaGia], [MaSan], [GioBD], [GioKT], [DonGia], [NgayTrongTuan]) VALUES (N'2', N'San2', 22, 23, CAST(149000 AS Decimal(18, 0)), N'Ngay Thuong')
INSERT [dbo].[GiaSan] ([MaGia], [MaSan], [GioBD], [GioKT], [DonGia], [NgayTrongTuan]) VALUES (N'3', N'San3', 22, 23, CAST(149000 AS Decimal(18, 0)), N'Ngay Thuong')
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaLich], [TongTien], [ThoiGianThanhToan], [HinhThucTT]) VALUES (N'1', N'3', CAST(398000 AS Decimal(18, 0)), CAST(N'2025-12-12T15:08:24.293' AS DateTime), N'Tiền mặt')
INSERT [dbo].[HoaDon] ([MaHD], [MaLich], [TongTien], [ThoiGianThanhToan], [HinhThucTT]) VALUES (N'2', N'2', CAST(398000 AS Decimal(18, 0)), CAST(N'2025-12-12T15:08:24.293' AS DateTime), N'Chuyển khoản')
INSERT [dbo].[HoaDon] ([MaHD], [MaLich], [TongTien], [ThoiGianThanhToan], [HinhThucTT]) VALUES (N'HD003', N'LD019', CAST(720 AS Decimal(18, 0)), CAST(N'2025-12-29T21:22:25.567' AS DateTime), N'Tiền mặt')
GO
INSERT [dbo].[KhachHang] ([SDT_KH], [TenKH]) VALUES (N'0000000000', N'huy')
INSERT [dbo].[KhachHang] ([SDT_KH], [TenKH]) VALUES (N'0111111111', N'Nguyễn Văn A')
INSERT [dbo].[KhachHang] ([SDT_KH], [TenKH]) VALUES (N'0123456789', N'huy')
GO
INSERT [dbo].[LichDat] ([MaLich], [MaSan], [SDT_KH], [TenKH], [NgayDat], [GioBD], [GioKT], [DonGiaThucTe], [TrangThai]) VALUES (N'2', N'San2', N'0222222222', N'Trần Thị B', CAST(N'2025-01-11' AS Date), 18, 20, CAST(398000 AS Decimal(18, 0)), N'Đã xóa')
INSERT [dbo].[LichDat] ([MaLich], [MaSan], [SDT_KH], [TenKH], [NgayDat], [GioBD], [GioKT], [DonGiaThucTe], [TrangThai]) VALUES (N'3', N'San3', N'0333333333', N'Lê Văn C', CAST(N'2025-01-12' AS Date), 7, 9, CAST(398000 AS Decimal(18, 0)), N'Đã xóa')
INSERT [dbo].[LichDat] ([MaLich], [MaSan], [SDT_KH], [TenKH], [NgayDat], [GioBD], [GioKT], [DonGiaThucTe], [TrangThai]) VALUES (N'LD001', N'San4', N'0000000000', N'huy', CAST(N'2025-12-31' AS Date), 15, 18, CAST(111 AS Decimal(18, 0)), N'Đã xóa')
GO
INSERT [dbo].[SanBong] ([MaSan], [TenSan], [LoaiSan], [TrangThai]) VALUES (N'San1', N'Sân 1', N'Sân 5', N'Hoạt động')
INSERT [dbo].[SanBong] ([MaSan], [TenSan], [LoaiSan], [TrangThai]) VALUES (N'San2', N'Sân 2', N'Sân 5', N'Hoạt động')
INSERT [dbo].[SanBong] ([MaSan], [TenSan], [LoaiSan], [TrangThai]) VALUES (N'San3', N'Sân 3', N'Sân 5', N'Hoạt động')
GO
INSERT [dbo].[Users] ([ID], [Password], [Role], [TenNguoiDung]) VALUES (N'admin', N'123', N'Admin', N'Quản Lý')
INSERT [dbo].[Users] ([ID], [Password], [Role], [TenNguoiDung]) VALUES (N'admin1', N'3EsRU3HK25oF2sEzS6p5jA==', N'Admin', N'Nguyễn Quang Huy')
INSERT [dbo].[Users] ([ID], [Password], [Role], [TenNguoiDung]) VALUES (N'nv1', N'3EsRU3HK25oF2sEzS6p5jA==', N'NhanVien', N'Nhân Viên A')
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ThoiGianThanhToan]
GO
ALTER TABLE [dbo].[CT_HoaDon_DichVu]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[CT_HoaDon_DichVu] CHECK CONSTRAINT [FK_CTHD_DichVu]
GO
ALTER TABLE [dbo].[CT_HoaDon_DichVu]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HoaDon_DichVu] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[GiaSan]  WITH CHECK ADD  CONSTRAINT [FK_GiaSan_SanBong] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SanBong] ([MaSan])
GO
ALTER TABLE [dbo].[GiaSan] CHECK CONSTRAINT [FK_GiaSan_SanBong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_LichDat] FOREIGN KEY([MaLich])
REFERENCES [dbo].[LichDat] ([MaLich])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_LichDat]
GO
ALTER TABLE [dbo].[LichDat]  WITH CHECK ADD  CONSTRAINT [FK_LichDat_KhachHang] FOREIGN KEY([SDT_KH])
REFERENCES [dbo].[KhachHang] ([SDT_KH])
GO
ALTER TABLE [dbo].[LichDat] CHECK CONSTRAINT [FK_LichDat_KhachHang]
GO
ALTER TABLE [dbo].[LichDat]  WITH CHECK ADD  CONSTRAINT [FK_LichDat_SanBong] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SanBong] ([MaSan])
GO
ALTER TABLE [dbo].[LichDat] CHECK CONSTRAINT [FK_LichDat_SanBong]
GO
USE [master]
GO
